body{
    font-family: 'roboto', sans-serif;
    background: #000;
    margin: 0 64px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px;
}

.header, .hero-part {
    background: #1f2937;
}

.hero-part {
    display: flex;
    padding: 64px;
    gap: 64px;
}

.right-hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

a {
    text-decoration: none;
}

.left-info {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

img {
    height: 300px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

a, .right-hero .text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-button, .su-button {
    color: #e5e7eb;
    background: #3882f6;
    padding: 8px 16px;
    border-radius: 12px;
    border-color: #f9faf8;
    border-width: 3px;
    border-style: solid;
}

.info-part {
    background-color: white;
}

.info-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
}

.info-box {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}

.info-description {
    font-size: 18px;
}

.quote-part {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 240px;
    gap: 16px;
}

.quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
}

.quote-bold{
    font-size: 22px;
    font-weight: 900;
    align-self: flex-end;
}

.sign-up-part{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 84px;
}

.blue-box{
    background-color: #3882f6;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border-radius: 8px;
    gap: 42px;
}

.bold-su {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 8px;
}

.bold-su, .text-su{
    color: #f9faf8;
}

.text-su {
    font-size: 12px;
}